[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqtgraph = "*"
pyqt5 = "*"
pyyaml = "*"
scipy = "*"
ocppmfet = {path = "./oCPPmfet"}

[dev-packages]

[requires]
python_version = "3.11"
